html, body, #root {
  min-height: 100vh;
  height: 100%;
}

:root {
  --bg: #ffffff;
  --text: #111111;
  --muted: #6b7280;

  --card: #ffffff;
  --border: #e5e7eb;

  --input-bg: #ffffff;
  --input-text: #111111;

  --btn-bg: #111111;
  --btn-text: #ffffff;

  --btn-secondary-bg: transparent;
  --btn-secondary-text: #111111;

  --filter-bg: #f9fafb;
  --filter-border: #d1d5db;
  --filter-text: #111111;

  --danger: #dc2626;
}

:root[data-theme="dark"] {
  --bg: #0b1020;
  --text: #838588;
  --muted: #9ca3af;

  --card: #0f172a;
  --border: #243145;

  --input-bg: #0b1224;
  --input-text: #838588;

  --btn-bg: #838588;
  --btn-text: #0b1020;

  --btn-secondary-bg: transparent;
  --btn-secondary-text: #838588;

  --filter-bg: #111827;
  --filter-border: #374151;
  --filter-text: #e5e7eb;

  --danger: #f87171;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
}

#root {
  background: var(--bg);
  color: var(--text);
}

* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}
